<style type="text/css">
  .nexaas-async-collector-loading img {
    vertical-align: middle;
  }

  .nexaas-async-collector-loading {
    text-align: center;
  }
</style>

<div class="nexaas-async-collector-loading">
  <%= image_tag 'nexaas/async/collector/spin.svg' %> <%= I18n.t('nexaas.async.collector.loading') %>
</div>
